<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Job Listings</title>
  <link rel="stylesheet" href="/public/assets/styless.css">
</head>
<body>
  <header class="header">
    <h1 class="header-title">Job Listings</h1>
  </header>
  <div class="container">
    <div class="card" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)">
      <img class="job-image" src="/public/assets/software-engineer.png" alt="software developer image">
      <h2>Software Developer</h2>
      <p class="location">San Francisco, CA</p>
      <p>A Software Developer is a professional who is charged with designing and coding software for businesses and consumers alike.We are looking for a Software Developer to build and implement functional programs. You will work with other Developers and Product Managers throughout the software development life cycle.
        In this role, you should be a team player with a keen eye for detail and problem-solving skills. If you also have experience in Agile frameworks and popular coding languages (e.g. JavaScript), we’d like to meet you.
        Your goal will be to build efficient programs and systems that serve user needs.</p>
      <ul>
        <li>Deadline: May 5, 2023</li>
        <li>Contact Phone Number: (555) 555-5555</li>
        <li>Contact Email: softwaredeveloper@company.com</li>
        <li><a href="form"><button>Express Interest</button></a></li>
      </ul>
    </div>
    <div class="card" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)">
      <img class="job-image" src="/public/assets/data-management.png" alt="database manager picture">
      <h2>Database Manager</h2>
      <p class="location">New York, NY</p>
      <p>We are looking for a highly capable database manager to enhance the performance of our organization's database. You will be creating and implementing standardized database management procedures, and overseeing the installation, security, and upgrading of our database.
        To ensure success as a database manager, you should possess extensive knowledge of database architecture and experience in a similar role. An outstanding database manager will be someone whose database management expertise translates into optimal database performance.</p>
      <ul>
        <li>Deadline: June 15, 2023</li>
        <li>Contact Phone Number: (555) 555-5555</li>
        <li>Contact Email: databasemanager@company.com</li>
        <li><a href="form"><button>Express Interest</button></a></li>
      </ul>
    </div>
    <div class="card" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)">
      <img class="job-image" src="/public/assets/product-management.png" alt="product manager picture">
      <h2>Product Manager</h2>
      <p class="location">Seattle, WA</p>
      <p>A Product Manager is the person who identifies customer needs and more prominent business objectives for a particular project, articulates what success looks like in this case study and rallies team members to help turn that vision into reality.We are looking for an experienced Product Manager who is passionate about building products that customers love. You will join a dynamic and fast-paced environment and work with cross-functional teams to design, build and roll-out products that deliver the company’s vision and strategy.</p>
      <ul>
        <li>Deadline: may 2, 2023</li>
        <li>Contact Phone Number: (555) 555-5555</li>
        <li>Contact Email: productmanager@company.com</li>
        <li><a href="form"><button>Express Interest</button></a></li>
      </ul>
    </div>
    <div class="card" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)">
      <img class="job-image" src="/public/assets/economist.png" alt="Data Analyst picture">
      <h2>Data Analyst</h2>
      <p class="location">Boston, MA</p>
      <p>A Data Analyst is a professional who collects and analyzes data across the business to make informed decisions or assist other team members and leadership in making sound decisions.We are looking for a passionate certified Data Analyst. The successful candidate will turn data into information, information into insight and insight into business decisions.</p>
      <ul>
        <li>Deadline: August 15, 2023</li>
        <li>Contact Phone Number: (555) 555-5555</li>
        <li>Contact Email: dataanalytics@company.com</li>
        <li><a href="form"><button>Express Interest</button></a></li>
      </ul>
    </div>
  </div>
  <footer class="footer">
    <div class="footer-contact">
      <h3>Contact Me</h3>
      <p>Email: joblistingdesk@gmail.com</p>
      <p>Phone: (555) 555-5555</p>
    </div>
    <div class="footer-social">
      <a href="https://www.instagram.com/"><img src="/public/assets/instagram.png" alt="Instagram"></a>
      <a href="https://www.linkedin.com/"><img src="/public/assets/linkedin.png" alt="LinkedIn"></a>
    </div>
  </footer>
  
  <script src="/public/assets/script.js"></script>
</body>
</html>
