<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Registration Page</title>
	<link rel="stylesheet" type="text/css" href="/public/assets/styles.css">
</head>
<body>
	<div class="container">
		<h1>Sign Up</h1>
		<p>Create an account to get started.</p>
		
		<form method="POST" action="/register">
			<label for="name">Full Name:</label>
			<input type="text" id="name" name="name">
			
			<label for="email">Email:</label>
			<input type="text" id="email" name="email">
			
			<label for="pwd">Password:</label>
			<input type="password" id="pwd" name="pwd">
			
			<input type="submit" value="Sign Up">
		</form>
		
		<div class="links">
			<p>Already have an account? <a href="login">Sign in</a></p>
		</div>
	</div>
</body>
</html>
